@tailwind base;
@tailwind components;
@tailwind utilities;

/* define CSS vars for light */
:root {
  --bg: #ffffff;
  --text: #0f172a;
  --card: #f8fafc;
}

/* dark via class on html */
html.dark {
  --bg: #0b1220;
  --text: #e6eef8;
  --card: #071028;
}

/* apply variables to base */
@layer base {
  html,
  body {
    @apply transition-colors duration-200 bg-[var(--bg)] text-[var(--text)];
  }

  .card {
    @apply bg-[var(--card)] text-[var(--text)];
  }
}
/*Efek animasi fade-in*/
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out;
}
